{% extends "eBedTrack/base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">

    <title>Emergency Bed Tracking System</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
</head>
<style>

.split {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    padding-top: 20px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mailto {
width:100px;
height:20px;
}




</style>
<div class="content container">
                <div class="row">
                    <div class="col-md-12">
<table>
    <tr height="50">
    </tr><tr>
        <td>

  <form  action="{% url 'eBedTrack:contact_us'%}" method="post"> {% csrf_token %}
                                           <div class="form-group" style="width:500">
                                                <label for="firstName">FirstName</label>
                                               <input type="text" class="form-control" id="firstName" placeholder="FirstName" name="firstName">
                                            </div>
                                           <div class="form-group" style="width:500">
                                                <label for="lastName">LastName</label>
                                               <input type="text" class="form-control" id="lastName" placeholder="LastName" name="lastName">
                                            </div>
                                           <div class="form-group" style="width:500">
                                                <label for="inputEmail">Email</label>
                                                <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="inputEmail">
                                            </div>
                                                <div class="form-group" style="width:500">
                                                    <label for="inputquestion">Question</label>
                                                    <textarea id="inputquestion" class="form-control" id="inputquestion" name="inputquestion"></textarea>
                                                </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
        </td>
        <td width="500">
        </td>
  <td>
      <h4>Our Email : <a class="mailto" style="color:white" href="mailto:ebttek@gmail.com">ebttek@gmail.com</a></h4>
      <iframe src="https://www.google.com/maps/d/embed?mid=1tSwUXESWFxF-vWiAlBYJ03sGbczs8v99" width="400" height="400"></iframe>
  </td>
    </tr>
</table>
</div>
</div>
</div>
{% endblock %}





